@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


:root {
    --dark-color : #27292a;
    --light-color: #fff;
    --color-primary: #ec6191;
    --darkest-color : #1f2122; 

    --body-bg-color : var(--darkest-color);

    --primary-distance : 50px; 
    --primary-padding : var(--primary-distance) ;
    --primary-marging: var(--primary-distance);
    --primary-border-radius : calc(var(--primary-distance) / 2);

    --google-font-primary :   "Poppins", sans-serif;
    --font-weight-bold : 900; 
    --font-weight-normal : 400;
}

body {
    background-color: var(--body-bg-color);
    font-family: var(--google-font-primary);
}

ul {
    list-style-type: none;
}

a{ 
    text-decoration: none;
}